@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 75px 0;
}

// TOOLBAR
.toolbar {
    background-color: rgb(23, 24, 29);
    min-height: 60px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.all-post-btn {
    margin-right: 20px;
}

.toolbar-btn-main {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.2s;

    &:hover {
        color: gold;
    }
}

.action {
    top: 20px;
    right: 30px;

    &:hover {
        color: gold;
    }
}

.action .profile {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-right: 15px;
}

.action .menu {
    position: absolute;
    top: 120px;
    right: 20px;
    padding: 0 10px;
    background: #fff;
    width: 180px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active {
    top: 60px;
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.action .menu::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu ul {
    padding: 0;
}

.action .menu ul li {
    list-style: none;
    padding: 15px 0;
    border-top: 1px solid rgba(33, 28, 28, 0.181);
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-btn {
    background-color: transparent;
    border: 1px solid rgba(37, 36, 36, 0.178);
    padding: 2px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    z-index: 5;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        border-color: black;
        background-color: whitesmoke;
    }
}

// FOOTER
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(23, 24, 29);
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

// POST CARD
.single-post-card {
    width: 300px;
    border: 1px solid grey;
    padding: 15px;
    word-break: break-all;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    // FAVORITES
    .fav-star {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        visibility: hidden;
        font-size: 30px;
        cursor: pointer;

        &::before {
            content: "\2606";
            position: absolute;
            visibility: visible;
            font-size: 45px;
            background: white;
            line-height: 1;
            right: 0;
            border-radius: 5px;
        }

        &.checked::before {
            content: "\2605";
            color: gold;
        }
    }

    .post-img-link {
        width: 100%;
        height: 300px;
        object-fit: cover;
        filter: brightness(90%);
        transition: all 0.3s;
        border-radius: 5px;

        &:hover {
            filter: brightness(100%);
            transform: translateY(-5px);
            cursor: pointer;
        }
    }

    .username {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .user-post-action-btn {
        background-color: transparent;
        border: 1px solid rgb(187, 185, 185);
        border-radius: 3px;
        padding: 3px 7px;
        color: rgb(187, 185, 185);
        transition: all 0.2s;

        &:hover {
            border-color: crimson;
            color: crimson;
        }
    }

    .update-btn {
        &:hover {
            color: green;
            border-color: green;
        }
    }
}

// ALL POSTS
.all-posts {
    padding: 50px 0 120px 0;
}

// LOGIN
.login {
    border: 1px solid rgb(205, 203, 203);
    border-radius: 10px;
    min-width: 600px;
    min-height: 350px;
    padding: 10px;
}

.box-title {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 1.5px;
}

.input-box {
    margin-top: 20px;

    span {
        color: grey;
        font-size: 15px;
    }

    input {
        outline-color: antiquewhite;
        border: none;
        border-bottom: 1px solid rgb(205, 203, 203);
        padding: 5px;
        width: 300px;
    }
}

.log-btn {
    background-color: transparent;
    border: 1px solid rgb(205, 203, 203);
    padding: 5px 15px;
    border-radius: 3px;
    transition: all 0.2s;

    &:hover {
        border-color: black;
    }
}

// HOME PAGE
.home-page {
    width: 100%;
    background-color: whitesmoke;

    .hero {
        height: 60vh;
        text-align: center;
        top: 60px;
        left: 0;
        right: 0;
        background-image: url('https://images.unsplash.com/photo-1719074124029-6474e6a3452e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .home-random-posts {
        margin-top: 10vh;
    }

    .home-single-post-card {
        width: 300px;
        height: 300px;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 5px;
        word-wrap: break-word;
        overflow: hidden;
        text-align: center;
        background-color: rgb(24, 34, 43);
        color: whitesmoke;

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 5px;
            filter: brightness(85%);
            transition: all 0.2s;

            &:hover {
                cursor: pointer;
                filter: brightness(100%);
            }
        }

        .username {
            padding: 3px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .home-page-about {
        padding: 100px;
        text-align: center;
        line-height: 2;
    }
}

// CREATE POST 
.create-post-box {
    .input-box {
        width: 300px;
    }
}

// ERROR
.error-msg {
    color: crimson;
    padding: 15px 0;
    font-size: 15px;
}

.single-post-style {
    width: 80%;
    margin: 0 auto;
    border: 1px solid grey;
    padding: 15px;
    word-break: break-all;
    overflow: hidden;
    border-radius: 5px;

    .single-post-img {
        width: 40%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    .username {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

// PAGINATION
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 50px 0;

    .pagination-button {
        border: 1px solid rgb(213, 213, 213);
        width: 30px;
        height: 30px;
        text-align: center;
        align-content: center;
        transition: all 0.2s;

        &:hover {
            cursor: pointer;
            border-color: black;
        }
    }
}

.active {
    background-color: black;
    color: white;
}

// FILTER
.filter-box {
    background-color: rgb(24, 34, 43);
    padding: 35px 0;
    margin-top: 0;
    color: whitesmoke;
    height: 40vh;
    display: flex;
    justify-content: center;

    .search-inputs {
        .filter-input-box {
            text-transform: uppercase;
            font-size: 14px;

            .dates-inputs {
                input {
                    width: 130px;
                }
            }
        }
    }

    input {
        line-height: 2;
        border-radius: 5px 5px 0 0;
        background-color: rgb(24, 34, 43);
        padding: 2px 7px;
        color: whitesmoke;
        border: none;
        border-bottom: 1px solid whitesmoke;
    }

    .filter-btn {
        background-color: transparent;
        color: whitesmoke;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 14px;
        transition: all 0.2s;

        &:hover {
            color: gold;
        }
    }
}

.found-posts {
    width: 100%;
    min-height: 80vh;
}

.favorites-page {
    padding-top: 35px;
}

.user-posts {
    margin: 10vh 0;
}